.profile {
  max-width: 410px;
  margin: 0 auto;
  padding-top: 74px;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin: 0 0 123px 0;
}

.profile__link {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #ee3465;
  width: 100%;
  transition: opacity .3s linear;
  margin-top: 16px;
}

.profile__fieldset {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
}

.profile__subtitle {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.profile__input {
  width: 70%;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: right;
  background-color: transparent;
  border: none;
}

.profile__input:focus {
  outline: 1px solid #4285f4;
}

.profile__input_type_invalid {
  color: #ee3465;
}

.profile__error {
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: #ee3465;
  height: 14px;
}

.profile__error_type_username {
  margin-bottom: 17px;
  border-bottom: 1px solid #424242;
}

.profile__error_type_email {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile__title {
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 525px) {
  .profile {
    padding-top: 70px;
    max-width: 260px;
  }

  .profile__error {
    height: 24px;
  }

  .profile__title {
    margin-bottom: 79px;
  }

  .profile__link{
    font-size: 12px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .profile__link:hover {
    opacity: .7;
  }
}
