.promo {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
  padding: 75px 0;
}

.promo__box {
  width: calc(640/1280*100%);
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.promo__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
  margin: 0 0 36px 0;
}

.promo__subtitle {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  max-width: 310px;
  color: rgba(255, 255, 255, .5);
  margin: 0 0 146px 0;
}

.promo__link {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 129px;
  min-height: 36px;
  border-radius: 3px;
  border: 1px solid #fff;
  padding-top: 10px;
  box-sizing: border-box;
  transition: opacity .3s linear;
}

.promo__img {
  width: 310px;
  height: 304px;
  margin-right: 70px;
  background-image: url(../../images/landing-logo.svg);
  background-size: cover;
}

@media screen and (max-width:1023px) {
  .promo {
    flex-direction: column;
    align-items: center;
    padding: 140px 0 76px;
  }

  .promo__box {
    width: calc(680/768*100%);
    margin-left: 0;
    align-items: center;
  }

  .promo__title {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin-bottom: 22px;
  }

  .promo__subtitle {
    max-width: 260px;
    text-align: center;
    margin-bottom: 92px;
  }

  .promo__img {
    order: -1;
    margin-right: 0;
    margin-bottom: 48px;
  }
}

@media screen and (max-width:767px) {
  .promo {
    padding: 70px 0 32px;
  }

  .promo__box {
    width: calc(300/320*100%);
  }

  .promo__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -1.2px;
    margin-bottom: 25px;
  }

  .promo__subtitle {
    margin-bottom: 80px;
  }

  .promo__img {
    width: 210px;
    height: 206px;
    margin-bottom: 44px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .promo__link:hover {
    opacity: .7;
    cursor: pointer;
  }
}
