@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.root {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  background-color: #202020;
}
